<div class="game-card">
  {{!-- <h1>Game Page</h1> --}}
  <div class="game-card-header" data-game-id={{firstGame.id}}>
    <h1>{{firstGame.name}}</h1>
  </div>
  <div class="game-card-body">
    {{firstGame.description_raw}}

    <div class="small-data" >
      <p>
        Release Date:
        {{firstGame.released}}
      </p>
      <p>
        Release Platforms:
        {{firstGame.platString}}
      </p>
    </div>
    <p style="text-align:center">Tags: {{firstGame.tagString}}</p>
  </div>
</div>
<div>
  <h2>Unblurred Feedback</h2>
  <P>THIS IS WHERE WE WOULD DISPLAY THOSE CHARTS OF THE FEEDBACK WE HAVE COLLECTED THUS FAR</P>
</div>
<div>
  <h2>Your Feedback</h2>
  {{!-- DISPLAY USER FEEDBACK --}}
  {{!-- NEED TO DO ROUTES TO "CRUD" USER'S PERSONAL FEEDBACK --}}
  {{#if loggedIn}}
{{!-- <div class="container">
  <span id="rateMe3"  class="rating-faces"></span>
</div> --}}
  <h2>Review</h2>
  <div >
    <form class="played-form">
      <input type="radio" id="played" name="played" value="true">
      <label for="played">Have Played</label><br>
      <input type="radio" id="want-play" name="played" value="true">
      <label for="want-play">Want to Play</label><br>        
    </form>
  </div>





  <form action="" id="review-options-form" style="display: none">
    <div class="rating">
      <h3>Rate Number of 🐐</h3>
    
        <label for="quantity">(between 1 and 5):</label>
        <input type="number" id="quantity" name="quantity" min="1" max="5">
      
    </div>
    <div class="hours">
      <h3>Hours Played:</h3>
    
        <input type="radio" id="<5" name="hours" value="dabbled">
        <label for="dabbled">5 Hours or Less</label><br>
        <input type="radio" id="5to20" name="hours" value="some">
        <label for="some">5 to 20</label><br>
        <input type="radio" id="20to50" name="hours" value="lots">
        <label for="lots">20 to 50</label><br>
        <input type="radio" id=">50" name="hours" value="extreme">
        <label for="extreme">Over 50</label>
      
    </div>
    <div class="age">
      <h3>Age Range</h3>
        <input type="radio" id="<18" name="age" value="under-18">
        <label for="<18>">Under 18</label><br>
        <input type="radio" id="18to25" name="age" value="18-25">
        <label for="18to25">18 to 25</label><br>
        <input type="radio" id="26to35" name="age" value="26-35">
        <label for="26to35">26 to 35</label><br>
        <input type="radio" id="36to50" name="age" value="36-50">
        <label for="36to50">36 to 50</label><br>
        <input type="radio" id=">50" name="age" value="over-50">
        <label for=">50">Over 50</label>
    </div>
    <div class="review">
      <h3>Review</h3>
      <input type="text" name="review" >
      <label for="review">Tell us what you think:</label>
    </div>
   
  </form>
   <input id='playedSubmit' type="submit" value="Submit">
      <input type="reset" value="Reset">  
  <P>THIS IS YOUR FEEDBACK ON THIS GAME</P>
  {{else}}
  <p>LOG IN TO SEE YOU FEEDBACK</p>
  {{/if}}
</div>