<h1>SEARCH PAGE</h1>
<ul>
  {{#each gameList as |game|}}
  <li class="game-card">
    <a href="https://video-game-review-eb186ee09616.herokuapp.com/game/{{game.id}}">
      <div class="game-card">
        <div class="game-card-header" data-game-id="{{game.id}}">  
          {{game.title}}
        </div>
        <div class="game-card-body">
          <p>
            Release Date:
            {{game.released}}
          </p>
          <p>
            Release Platforms:
            {{game.platforms}}
          </p>    
        </div>
      </div>
    </a>
  </li>
  {{/each}}
</ul>